* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: "Gil S", sans-serif;
    padding: 0;
    margin: 0;
}

@media (min-width: 320px) and (max-width: 600px) {
    .joinOuterContainer {
        height: 100%;
    }
    .joinInnerContainer {
        width: 100%;
    }
}

#root {
    height: 100vh;
}

.joinOuterContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("../../img/urban.jpg");
}

.joinOuterContainer > .joinInnerContainer {
    width: 40%;
}

.joinOuterContainer > .joinInnerContainer > .heading {
    color: #000000;
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: 2px solid #d3d3d3;
}

.joinOuterContainer .joinInput {
    border-radius: 20px;
    padding: 15px 20px;
    width: 100%;
}

.joinInnerContainer input[type="submit"]
{
    font-family: -apple-system, sans-serif;
    width: 80%;
    display: block;
    margin: 15px auto;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 6px;
    border: 2px;
    background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
    box-shadow: inset rgba(255,255,255,.5) 1px 1px;
    color: white;
}
.joinInnerContainer input[type="submit"]:hover {
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);

}
.joinInnerContainer input[type="submit"]:focus {
    outline: none;
    box-shadow: 3px 3px 10px #f3f3f3;
    border-color: #2970a9;
    background-image: linear-gradient(#5796c8, #6aa2ce);
}


.mt-20 {
    margin-top: 20px;
}