.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    color: #0c0000;
    height: 85%;
    justify-content: space-between;
}

.activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
}
.activeItem {
    display: flex;
    align-items: center;
    color: #0c0000;
}

.textContainer h1 {
    margin-bottom: 0px;
}
.activeContainer img {
    padding-left: 10px;
}


@media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
        display: none;
    }
}